{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

<div id="app-login">
    
</div>

{% endblock %}
{% block javascript %}
 {{ parent()}}
 {{ encore_entry_script_tags('app') }}  
{% endblock %}
