<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        <style>
           #container-app{
            background: #fff;
            margin: 100px 30px 0 110px;
           } 
           #container-vue{
            margin-left: 30px;
            padding-top: 30px;
           }  
        </style>
        
    </head>
    <body>
        {% if display %}
            <div 
                id="app-menu" 
                data-menu-props='{{ menuData|json_encode|raw }}'
                data-sub-menu-props='{{ subMenuData|json_encode|raw }}'
            ></div> 
        {% endif %}
            
            <div id="container-app">
                <div id="container-vue">
                    {% block body %}{% endblock %}
                </div>
            </div>
    </body>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</html>
